body {
    background-image: url(../elements/BG-grain.png);
    background-color: #FBF8EE;
}

.container-fluid {
    width: 95%;
    z-index: 0;
}

strong {
    border-bottom: 2px solid #60575c;
    cursor: pointer;
}

strong:hover {
    border-bottom: 0px;
    color: #90BFB7;
    transition: 1s;
}

p {
    line-height: 30px;
    font-size: 20px;
    font-family: "edmondsansregular";
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}


/* ____________________ NAV ____________________ */

.navbar-inverse {
    border-radius: 0;
    background-color: transparent;
    background-position: center;
    height: 150px;
    border: 0;
}

.navbar-header {}

nav img {
    float: left;
    width: 30%;
}

nav img:hover {}

nav small {
    margin-left: 20px;
    font-size: 1em;
    color: #60575c;
    line-height: 35px;
    font-family: "edmondsansregular";
    cursor: default;
}

.navbar-header,
.navbar-right {
    margin-top: 4%;
}

.navbar-right {
    float: none !important;
}

.nav a {
    color: #60575c !important;
    font-family: "edmondsansbold";
    font-size: 1.2em;
    margin-top: 6px;
    padding-right: 40px !important;
}

.nav a:hover {
    transition: 1s;
    color: #90BFB7 !important;
}

.firt-li {
    margin-left: 70px;
}

.logo {
    width: 70px;
    height: 125px;
    background-color: #60575c;
    position: fixed;
    margin-top: -75px;
    z-index: 9999;
}

.logo img {
    width: 40px;
    margin-left: 15px;
    margin-top: 60px;
    -webkit-animation-name: rotation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 4;
}

.logo img:hover {
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg)
    }
}


/* Standard syntax */

@keyframes example {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg)
    }
}


/* ____________________ BIG IMG ____________________ */

.big-img {
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
    -moz-box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
    box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
}

.big-img img {
    cursor: pointer;
}


/* ____________________ SMALL IMG ____________________ */

.small-img {
    padding-left: 0px;
    padding-right: 0px;
}

.small-img div {
    background-color: white;
    -webkit-box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
    -moz-box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
    box-shadow: 10px 10px 0px -5px rgba(214, 214, 214, 0.7);
    width: 48%;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.small-img div:last-child {
    margin-left: 3.6%;
}


/* ____________________ Partie texte big img ____________________ */

.contenu {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "edmondsansregular";
    font-size: 1.4em;
    color: #60575c;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 100px;
    text-align: justify;
}

.contenu h4 {
    font-family: "chunkfiveroman";
    text-align: right;
    font-size: 15px;
    padding-right: 0px;
    color: #4a4447;
}

.contenu small {
    text-align: left;
    margin-left: 10px;
    font-family: "edmondsansregular";
    font-size: 1em;
}

.contenu button {
    font-family: "chunkfiveroman";
    color: white;
    height: 55px;
    border: 0;
    background-color: #4a4447;
    margin-top: 20px;
    width: 230px;
    float: right;
}

.contenu button:hover {
    background-color: #90BFB7;
    transition: 1s;
}


/* ____________________ Partie texte small img ____________________ */

.small-text div {
    font-family: "edmondsansregular";
    color: #60575c;
    text-align: justify;
    margin-bottom: 75px;
    width: 48%;
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 30px;
    font-size: 1.1em;
}

.small-text div:last-child {
    margin-left: 3.6%;
}

.small-text p {
    font-size: 1.4em;
    padding-left: 0px;
    padding-right: 0px;
}

.small-text h4 {
    font-family: "chunkfiveroman";
    text-align: right;
    padding-right: 0px;
    font-size: 15px;
    color: #4a4447;
}

.small-text small {
    text-align: left;
    margin-left: 10px;
    font-family: "edmondsansregular";
    font-size: .9em;
}

.small-text button {
    font-family: "chunkfiveroman";
    color: white;
    height: 55px;
    border: 0;
    background-color: #4a4447;
    margin-top: 20px;
    font-size: 1.5em;
    width: 230px;
    float: right;
}

.small-text button:hover {
    background-color: #90BFB7;
    transition: 1s;
}

#sold-out {
    opacity: 0.5;
    cursor: no-drop;
}

#sold-out:hover {
    background-color: #4a4447;
}

#top-20 {
    top: -20px;
}


/* ____________________ IMG PARALLAX ____________________ */

.img-parallax {
    background-image: url(../elements/paysage-parallax.jpg);
    height: 600px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* ____________________ CONTACT ____________________ */

.contact {
    background-image: url(../elements/BG-grain-dark.png);
    background-color: #222;
    height: 380px;
    background-size: 70%;
    background-repeat: repeat;
    background-position: center;
    border-top: 20px solid white;
    padding: 0px;
    color: white;
}

.img-news1 {
    background-image: url(../elements/news1.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 170% 210%;
}

.img-news1 img {
    margin-top: 20%;
    margin-left: 35%;
    -webkit-box-shadow: 10px 10px 0px -5px rgba(15, 15, 15, 0.7);
    -moz-box-shadow: 10px 10px 0px -5px rgba(15, 15, 15, 0.7);
    box-shadow: 10px 10px 0px -5px rgba(15, 15, 15, 0.7);
}

.contact p {
    line-height: 30px;
    font-size: 20px;
    font-family: "edmondsansregular";
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

form {
    margin-left: 3%;
}

.contact h3 {
    font-family: "chunkfiveroman";
    font-size: 1.5em;
    padding-right: 0px;
    color: #;
    padding-left: 0px;
    padding-top: 7%;
}

.contact input {
    height: 70px;
    margin-top: 20px;
    width: 35%;
    border: 0;
    margin-right: 20px;
    outline: 0;
    color: #4a4447;
}

.contact button {
    font-family: "chunkfiveroman";
    color: white;
    height: 70px;
    border: 0;
    background-color: #4a4447;
    margin-top: 20px;
    font-size: 1.5em;
    width: 175px;
    float: right;
}

.contact button:hover {
    background-color: #90BFB7;
    transition: 1s;
}


/* ____________________ FOOTER ____________________ */

footer {
    height: 100vh;
    background-image: url(../elements/footer.jpg);
    background-position: top;
    background-size: 165%;
    image-rendering: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #60575c;
}

footer h3 {
    font-family: "chunkfiveroman";
    font-size: 2em;
    max-width: 45%;
    text-align: center;
    line-height: 135%;
}

footer small {
    font-weight: bolder;
    font-size: 1.2em;
}

footer p {
    max-width: 40%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: "edmondsansregular";
    margin-top: 30px;
}

footer i {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    padding: 12px 5px 0px 5px;
    background-color: #60575c;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 100%;
    font-size: 30px !important;
    cursor: pointer;
}

footer i:hover {
    background-color: #90bfb7;
    transition: 1s;
}

.copyright {
    font-size: 1.1em;
    margin-top: 100px;
    margin-bottom: 0px;
}

footer p:last-child {
    margin-top: 0px;
    font-size: 1.2em;
}

footer strong:hover {
    color: #60575c;
}